// Theme Colors
$primary: #08445B;
$primary-dark: #122C41;
$primary-light: #2E647A;
$highlight: #2185B6;
$highlight-alt: #035042;
$white: #FDFDFD;
$black: #0e1111;

//** Alternative options 1 **//
// $primary: #143151;
// $primary-dark: #0A1932;
// $primary-light: #617997;
// $highlight: #9BB6DA;
// $highlight-alt: #DFF0FD;

//** Alternative options 2 **//
// $primary: #165578;
// $primary-dark: #0F151D;
// $primary-light: #5997AE;
// $highlight: #9DCCD7;
// $highlight-alt: #D6F0F1;

$colors: (
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-light": $primary-light,
  "highlight": $highlight,
  "highlight-alt": $highlight-alt,
  "white": $white,
  "black": $black,
);

@each $key, $val in $colors {
  .text-#{$key} { color: #{$val}; }

  @if($key != "white" and $key != "black") {
    .bg-#{$key} { background-color: #{$val}; }
  }
}