// Fonts
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.75;
$font-size-lg: $font-size-base * 1.5;
$font-size-xl: $font-size-base * 2;
$font-size-xxl: $font-size-base * 3;

// Borders
$border-base: 1px;
$border-lg: 2px;
$border-xl: 4px;

$border-radius-base: 10px;
$border-radius-more: 20px;
$border-radius-less: 5px;

// Responsive breakpoints
$xs: 355px;
$sm: 420px;
$md: 800px;
$lg: 1024px;
$xl: 1300px;